* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1E1E1E;
}
 
 body {
    display: flex;
    align-items: top;
    justify-content: top;
    font-family:"Montserrat", sans-serif;
    color: rgb(179, 179, 179);
} 

 a {
    color: rgb(179, 179, 179);
    font-weight: bold;
    text-decoration: none;
}

textarea {
    color:rgb(102, 97, 97);
}


p {
    margin: 10px 0;
}

a:hover{
    color: rgb(102, 97, 97);
}

form {
    display: flex;
    flex-direction: row;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    border: unset;
    border-bottom: 2px solid rgb(102, 97, 97);
    outline: none;
    color: rgb(179, 179, 179);
}


button {
    font-family:"Montserrat", sans-serif;
    padding: 10px;
    background: rgb(179, 179, 179);
    border: unset;
    cursor: pointer;
}

button:hover {
    background-color: rgb(102, 97, 97);
}

.msg {
    border: 2px solid rgb(102, 97, 97);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
